.bar {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
}

.bar:hover {
    background-color: #f2f4f515;
}

.bar:hover .menubox, .menubox:hover  {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.menubox {
    position: absolute;
    border-radius: 25px;
    background: rgba(0, 0, 0, .001);
    backdrop-filter: blur(15px) brightness(105%);
    -webkit-backdrop-filter: blur(15px) brightness(105%);
    padding: 30px;
    left: 0;
    margin-top: 25px;
    width: 270px;
    box-shadow: 0 3px 26px rgba(0, 0, 0, .0980392157);
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: 0.9s;
    overflow: hidden;

}

.menu {
    position: relative;
    margin-left: 0;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
}

.menu:not(:last-child) {
    margin-bottom: 10px;
}

.menu:hover {
    margin-left: 18px;

}

.menu::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f1f6f9;
    transition: 0.2s;

}

.menu:hover::after {
    left: -20px;
}

.btn {
    background: rgba(199, 219, 230, .062745098);
    backdrop-filter: blur(15px) brightness(105%);
    color: #f1f6f9;
    position: relative;
    padding: 20px 36px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 400;
    transition: 1s;
    white-space: nowrap;

}

.btn:hover {
    background-color: #f1f6f9;
    color: #0f172a;
}

.avatar {
    position: absolute;
    right: -25px;
    top: 50%;
    width: 50px;
    transform: translateY(20px)translateX(80px);
    transition: 1s;
    height: 50px;
    border-radius: 50%;
    border: white 2px solid;
    opacity: 0;
    background-color: #3b5fb4;
}

.parent {
    position: relative;

}

.btn:hover .avatar {
    top: 50%;
    transform: translateY(-50%) translateX(35px) rotate(45deg);
    right: 10px;
    opacity: 1;
    transition: 0.8s;

}
